.notesWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}
.nIHeadingContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
}
.delAll {
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
}
.delAll:hover {
	background: #ece2d0;
	border: 2px solid #a26769;
}
