.takeNoteWrapper {
	border: 1px solid;
	min-height: 200px;
	max-width: 600px;
	padding: 30px;
	position: relative;
}
.inputBox {
	/* color: gray; */
	display: block;
	border: none;
	font-size: 20px;
	/* border: 1px solid gray; */
	resize: none;
}
input:focus {
	outline: none;
}
.titleInputBox {
}
.noteInputBox {
	margin-top: 30px;
}
.noteInputBox:focus {
	outline: none;
}

.addNoteBtnAndTrashBtnContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.addNoteTrashAndPinBtn {
	/* border-radius: 50%; */
	background: transparent;
	cursor: pointer;
	border: none;
	font-size: 18px;
}

.pinBtnOfTakeNote {
	display: flex;
	color: brown;
	position: absolute;
	right: 20px;
	font-size: 20px;
	transform: rotate(45deg);
}
