.takeNoteWrapper {
	min-height: 200px;
	max-width: 600px;
	padding: 30px;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.inputBox {
	display: block;
	border: none;
	font-size: 20px;
	resize: none;
	width: 100%;
}
input:focus {
	outline: none;
}
.titleInputBox {
}

.noteInputBox:focus {
	outline: none;
}

.addNoteBtnAndTrashBtnContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.addNoteTrashAndPinBtn {
	background: transparent;
	cursor: pointer;
	border: none;
}
.addNote {
	font-size: 1.5em;
}
.addNote:hover {
	background: #ece2d0;
	border: 2px solid #a26769;
}
.pinBtn {
	display: flex;
	position: absolute;
	right: -26px;
	font-size: 36px;
	top: -30px;
	background: #ece2d0;
	padding: 10px;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
}

.border {
	border: 2px solid #ece2d0;
}

.borderRadius {
	border-radius: 14px;
}

.iconColor {
	color: #a26769;
}
.textColor {
	color: var(--text-color);
}

.letterSpacing {
	letter-spacing: 1px;
}

.titleContainer {
	display: flex;
	align-items: center;
}
