.headerWrapper {
	display: flex;
	justify-content: space-between;
	background: #ece2d0;
	padding: 1rem;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.titleIconWrapper {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
.headerTitle {
	font-family: 'Patrick Hand SC', cursive;
	font-size: xx-large;
}
.headerLink {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: 800;
}
.noteIcon {
	font-size: 3em;
}
.linkWrapper {
	display: flex;
	align-items: center;
	gap: 1em;
	cursor: pointer;
}
