.NoteItemWrapper {
	min-width: 300px;
	min-height: 200px;
	position: relative;
	padding: 1rem;
}

.pinAndTrashBtn {
	font-size: 18px;
	position: absolute;
	background: transparent;
	border: none;
}

.pin {
	top: 20px;
	right: 20px;
	color: #a26769;
	transition: all ease ease-out 0.9s;
}

.pinRotate {
	transform: rotate(45deg);
}
