.NoteItemWrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
	padding: 1rem;
}
.pinBtnWrapper {
	display: flex;
	justify-content: flex-end;
}

.pinAndTrashBtn {
	font-size: 1.4rem;
}

.pinRotate {
	transform: rotate(45deg);
}
.trashBtnWrapper {
	display: flex;
	justify-content: flex-start;
}
.textWrapper {
	height: 150px;
	width: 300px;
}

.noteDescription {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-align: justify;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
	white-space: initial;
}
