.NoteItemWrapper {
	border: 2px solid;
	min-width: 300px;
	min-height: 200px;
	border-radius: 6px;
	position: relative;
}
.NoteItemWrapper:hover {
	background-color: gray;
}

.pinAndTrashBtn {
	font-size: 18px;
	position: absolute;
	background: transparent;
	border: none;
}

.pin {
	top: 20px;
	right: 20px;
}
.trash {
	left: 20px;
	bottom: 20px;
}
