* {
	font-family: 'Patrick Hand SC', cursive;
	box-sizing: border-box;
	color: #a26769;
}

input,
textarea {
	color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.App {
	box-sizing: border-box;
	position: relative;
}
.mainContainer {
	padding: 30px;
	padding-top: 10rem;
}

.trash {
	font-size: 2rem;
}

button {
	border: none;
	background: transparent;
}

.noteTitle,
.noteDescription {
	color: black;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.notAllowed {
	cursor: not-allowed !important;
}
